@import '~assets/scss/_fonts.scss';

body {
    background: url('~assets/img/starsbg.jpg');
    background-size: cover;
    color: white;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    
    .row {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;

        .col {
            flex-grow: 1;
            width: 50%;

            &.luna-img {
                text-align: center;
            }
        }
    }
}

.container-phase {
    display: block;
    padding-top: 40px;
}


.phase-title {
    font-family: $bigFont;
    font-size: 80px;
}

.slogan {
    font-family: $subFont;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 12px;
}

.visibility {
    font-family: $subFont;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-top: 20px;
    span {
        border-top: 1px solid rgba(255,255,255,0.4);
        padding-top: 10px;

    }
}