  <!-- <form #f="ngForm" (ngSubmit)="onSubmit(f.value.date)">
    <input type="date" name ="date" ngModel>
    <button type="submit">Enviar</button>
  </form> -->

  <mat-form-field>
    <input matInput [matDatepicker]="myDatepicker"  (dateInput)="addEvent($event.value)" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker touchUi="true"></mat-datepicker>
  </mat-form-field>

  <div>{{moonPhase?.phase}}</div>
  <div>{{moonPhase?.percent}}</div>
