<div class="container">
  <div class="row">
    <div class="col luna-img">

      <img src="{{imageSwitch()}}">

    </div>
    <div class="col">

      <div class="container-phase">
          <div class="slogan">The moon today</div>
          <div class="phase-title">{{moonPhase?.phase}}</div>
          <div class="visibility"><span>{{moonPhase?.percent}} VISIBILITY</span></div>
        </div>
      <app-date-selector (changePhaseEmit)="changeThePhase($event)"></app-date-selector>
    </div>
  </div>
