<div class="container">
  <div class="row">
    <div class="col luna-img">
      <div class="luna">
        <img src="{{imageSwitch()}}">
      </div>
      <div class="date-selector">
        <!-- <span>Select another date</span> -->
        <app-date-selector (changePhaseEmit)="changeThePhase($event)"></app-date-selector>
      </div>
    </div>
    <div class="col">

      <div class="container-phase">
          <div class="slogan">The moon today</div>
          <div class="phase-title">{{moonPhase?.phase}}</div>
          <div class="visibility"><span>{{moonPhase?.percent}} VISIBILITY</span></div>
        </div>
      
    </div>
  </div>
